@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

.start{
    background: linear-gradient(143deg,#FFD898,#F9EAC2 85%);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 20px;
    padding-bottom: 30px;
}
.start h1{
padding-top: 80px;
color: black;
font-size: 55px;
margin: 15px 0;
font-family: 'Raleway', sans-serif;
}
.start p{
    color: rgb(46, 42, 42);
    font-size: 30px;
    margin: 15px 0;
    font-family: 'Merriweather', serif;
}
.start button{
    padding: 15px 35px 15px 35px;
    margin: 15px 0;
}



.secondContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}
.secondContainer1, .secondContainer2, .secondContainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondContainer1 h1, .secondContainer2 h1, .secondContainer3 h1{
    color: #363636;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}
.secondContainer1 p, .secondContainer2 p, .secondContainer3 p{
    color: #363636;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merriweather', serif;

}
.secondContainer1 i, .secondContainer2 i, .secondContainer3 i{
    margin-bottom:  20px;

}


.lastContainer{
    margin-top: 80px;
    padding-top: 30px;
    background-color: #FFD898;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.lastContainer h1, .lastContainer p{
    color: white;
}
.lastContainer button{
    padding: 10px 25px 10px 25px;
}






body{
    margin: 0;
}

.navbar{

    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;






}
.ul-navbar li a{
    display: block;
    padding: 0 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-decoration: none;



}


ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.left-navbar{
    padding-left: 30px;
}

.logoContainer h1 {
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 100;
}
.logoContainer h1 span { /*WASTE*/
    font-weight: 900;

}
