<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full-stack projekt - Footer</title>
    <link rel="stylesheet" href="../static/footerStyle.css" th:href="@{footerStyle.css}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:wght@500&display=swap');
    </style>
</head>
<body>
<div th:fragment="footer">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>GENVEJE</h4>
                <ul>
                    <li><a href="#">Opret ønske</a></li>
                    <li><a href="#">et eller andet</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>BETINGELSER</h4>
                <ul>
                    <li><a href="#">Småkagepolitik</a></li>
                    <li><a href="#">Brugervilkår</a></li>
                    <li><a href="#">Privatlivspolitik</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>KUNDESERVICE</h4>
                <ul>
                    <em>E-mail<br> <li><a href="#">kontakt@busken.dk</a></li><br></em>
                    <em>Åbningstider<br>08:00 - 16:00 på hverdage.
                        Lukket lørdag, søndag & helligdage.<br>Vi bestræber os på at svare mails
                        indenfor 24 timer på hverdage.</em>

                </ul>
            </div>
            <div class="footer-col">
                <h4>FØLG OS</h4>
                <div class="socialMedia">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>