<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Full-stack Project - My Wishlist</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:wght@500&display=swap');
    </style>

    <link rel="stylesheet" href="../static/styles/navBar.css" th:href="@{/styles/navBar.css}">
    <link rel="stylesheet" href="/src/main/resources/static/styles/my-wishlistStyle.css"
          th:href="@{/styles/my-wishlistStyle.css}">
    <!--
    <link rel="stylesheet" href="../static/styles/titles.css" th:href="@{/styles/titles.css}"/>
   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

</head>
<body>

<div class="navbar">
    <a href="/bruger-forside" style="text-decoration: none;">
        <div class="left-navbar">
            <div class="logoContainer">
                <img class="logo" th:src="@{/images/logo.png}" src="../static/images/logo.png">
            </div>
            <div class="logoText">
                <h1>Ønske<span>Brønden</span></h1>
            </div>
        </div>
    </a>
    <div class="right-navbar">
        <ul class="ul-navbar">
            <li><p th:text="${user.firstName} + ' ' + ${user.lastName}"></p></li>
            <li><a href="/bruger-forside">Home</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="/logout">Log ud</a></li>

        </ul>
    </div>
</div>

<div class="header-table headerTable">
    <table class="table2">
        <div class="header3">
            <div class="div1"><h1 th:text="${wishlistObject.name}">Navn på ønskeliste her</h1></div>
            <div class="div2">
                <button class="btn btn-light btn-outline-primary" title="Del din ønskeseddel" onclick="openForm()" th:if="${user.id == wishlistObject.ownerId}">🔗</button>
            </div>
        </div>
    </table>
</div>
<div class="table">
    <table>
        <thead>
        <tr class="headers">
            <th class="header-name">NAVN</th>
            <th>BESKRIVELSE</th>
            <th>PRIS</th>
            <th>LINK</th>
            <th th:if="${user.id != wishlistObject.ownerId}">STATUS</th>
            <th class="header-action"  th:if="${user.id == wishlistObject.ownerId}">HANDLING</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:if="${user.id == wishlistObject.ownerId}">
            <form action="/add-wish" method="POST">
                <td> <!-- Table Data -->
                    <div class="table-input">
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder=" Indtast navn" required>
                    </div>
                </td>
                <td>
                    <div class="table-input">
                        <label for="description"></label>
                        <input type="text" name="description" id="description" placeholder=" Indtast beskrivelse"
                               required>
                    </div>
                </td>
                <td>
                    <div class="table-input">
                        <label for="price">
                        </label>
                        <input type="number" name="price" id="price" placeholder=" Indtast pris" required>
                    </div>
                </td>
                <td>
                    <div class="table-input">
                        <label for="link"></label>
                        <input type="url" name="link" id="link" placeholder=" Indtast link">
                    </div>
                </td>
                <td>
                    <div class="table-input">
                    <button type="submit" class="btn btn-light btn-outline-info" title="Tilføj ønske">🛠️</button>
                    </div>
                </td>
            </form>
        </tr>
        <tr scope="row" th:if="${user.id != wishlistObject.ownerId}">



        </tr>
        <tr class="align-middle" scope="row" th:each="wish: ${wishlist}">
            <td th:text="${wish.name}" class="body-text">Nye sko</td>
            <td th:text="${wish.description}" class="body-text">En kort beskrivelse af genstanden eller hvad man nu vil
                skrive her
            </td>
            <td th:text="${wish.price}" class="body-text">300</td>
            <td th:text="${wish.link}" class="body-text"><a href="google.com">google.com</a></td>
                <!-- <a class="btn btn-danger" onclick="return confirm('Er du sikker på, at du vil slette dette ønske?')" th:href="@{'/delete/' + ${wish.id}}">Slet</a>
                 <a class="btn btn-warning" th:href="@{'update-wish/' + ${wish.id}}">Rediger</a>
                 <a class="btn btn-danger" th:href="@{'/delete/' + ${wish.id}}">Slet</a>-->
                <!-- <a class="btn btn-warning" onclick="openFormUpdateWishlist()">Rediger</a>-->

        <!--
        <div th:if="${user.id != wishlistObject.ownerId}">
            <td class="align-middle" th:if="${wish.isReserved == true}">Ja</td>
            <td class="align-middle" th:unless="${wish.isReserved == true}">Nej</td>
         </div>
        -->



            <td>
                <a onclick="return confirm('Er du sikker på, at du vil slette dette ønske?')" th:href="@{'/delete/' + ${wish.id}}"> <button type="button" class="btn-close btn-danger" title="Slet ønske" aria-label="Close" th:if="${user.id == wishlistObject.ownerId}"></button></a>
                <a th:href="@{'update-wish/' + ${wish.id}}"> <button type="button" class="edit btn-outline-warning" title="Rediger ønske" aria-label="Close" th:if="${user.id == wishlistObject.ownerId}">✏️</button></a>

                <a th:href="@{'reserve-wish/' + ${wish.id}}">
                    <div th:if="${user.id != wishlistObject.ownerId}">
                    <button class="status status-free" title="Reserveret" th:if="${wish.isReserved == true}">❌</button>
                    <button class="status status-reserved" title="Ledig" th:if="${wish.isReserved == false}">✅</button>
                    </div>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("modal-bg").style.display = "block";
    }

    function openFormUpdateWishlist() {
        document.getElementById("update-wishForm").style.display = "block";
        document.getElementById("modal-bg").style.display = "block";
    }

    function openFormDelete() {
        document.getElementById("deleteForm").style.display = "block";
        document.getElementById("modal-bg").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("deleteForm").style.display = "none";
        document.getElementById("modal-bg").style.display = "none";
        document.getElementById("update-wishForm").style.display = "none";
    }
</script>
<div class="modal-bg" id="modal-bg"></div>

<div class="form-popup" id="myForm">
    <form action="/share-wishlist" method="POST" class="form-container">
        <div class="container">
            <div class="loginContainer">
                <button type="button" class="btn-cancel" onclick="closeForm()"></button>
                <h1 class="title">Del din ønskeseddel med en anden bruger!</h1>
                <div class="user-details">
                    <div class="input-box">
                        <label for="email">Indtast deres email her</label>
                        <input type="text" name="email" id="email" placeholder=" Indtast e-mail" required>
                    </div>
                    <p th:if="${canBeShared == true}">Du har delt du ønskeseddel</p>
                    <p th:if="${canBeShared == false}" style="color: red;">Ønskeseddel kunne ikke deles</p>
                    <button class="invite-button" type="submit">Invitér</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="form-popup" id="deleteForm" scope="row" th:each="wish: ${wishlist}">
    <form action="/delete/{id}" method="POST" class="form-container">
        <div class="container">
            <div class="loginContainer">
                <button type="button" class="btn-cancel" onclick="closeForm()"></button>
                <h1 class="title">Er du sikker på, at du vil slette <span th:text="${wish.name}">dette ønske</span>?</h1>
                <div class="user-details">
                    <button type="submit" class="delete-button" th:href="@{'/delete/' + ${wish.id}}">SLET ØNSKE</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="update-wish-form-popup" id="update-wishForm">
    <form action="/update-wish" method="POST" class="update-wish-form-container">
        <div class="container">
            <div class="update-container">
                <button type="button" class="btn-cancel" onclick="closeForm()"></button>
                <h1 class="title">Rediger dit ønske</h1>
                <div class="user-details">
                    <div class="input-box">
                        <td> <!-- Table Data -->
                            <div class="table-input">
                                <input id="id" type="hidden"  name="id">
                            </div>
                            <div class="table-input">
                                <label for="name">NAVN</label>
                                <input id="name" type="text"  name="name">
                            </div>
                        </td>
                        <td>
                            <div class="table-input">
                                <label for="description">BESKRIVELSE</label>
                                <input id="description" type="text"  name="description">
                            </div>
                        </td>
                        <td>
                            <div class="table-input">
                                <label for="price">PRIS</label>
                                <input id="price" type="text"  name="price">
                            </div>
                        </td>
                        <td>
                            <div class="table-input">
                                <label for="link">LINK</label>
                                <input id="link" type="url" name="link">
                            </div>
                        </td>

                    </div>
                    <button class="edit-button" type="submit" >Rediger</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>