@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

h1{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: black;
}
.card-box-link {
    text-decoration: none;
    color: black;
}
/*-----------navbar--------*/
/*
.bruger-navbar{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-navbar{
    margin-top: 1rem;
    margin-right: 30px;
}
.ul-navbar li a{
    display: block;
    padding: 0 25px;
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.5s;

}
.ul-navbar li a:hover {
    color: #FFD898;
    border-bottom-style: double;
    padding-bottom: 4px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.left-navbar{
    padding-left: 30px;
}

.logoContainer h1 {
    color: #fcc368;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    font-weight: 100;
}
.logoContainer h1 span {
    font-weight: 800;
}
*/
/*-----------add-option--------*/
.add-option-container{

    width: 70%;
    height: 60px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
/*-----------card-------*/

.card-div .card-container{
    background-color: #F5F5F5;
    place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-bottom: 30px;
}
.link-container{
    flex-grow: 1;
    width: 100%;
}

.link-container a{
    margin-top: 10px;
}

.div-container{
    flex-grow: 10;
}

.link-container{
    display: flex;
    justify-content: space-between;
}

.navigate-to-wishes{
    display: flex;
    justify-content: start;
    border-style: none;
    background-color: #F5F5F5;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}
.link-to-wishlist{
    flex-grow: 10;
    display: flex;
    justify-content: start;
    text-decoration: none;
}

a{
    text-decoration: none;
}
.link-container span{
    color: rgba(189, 141, 26, 0.84);

}




.card-div .card-container a .btn {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    height: 60px;
    width: 60px;
    font-size: xx-large;
    margin-bottom: 50px;
}
.card-container:hover{
    box-shadow: 0 10px 20px 0 rgba(255, 201, 65, 0.84);
}

.wishContainer{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-content: center;


}

.card-div{
    display: flex;
    justify-content: center;


}

.card-container h1{
    font-size: 25px;
    text-align: center;
}
.card-container {
    text-align: center;
    font-size: 15px;
}

.card-container .btn-close{
    height: 2px;
    margin-top: 10px;
    margin-right: 10px;
    cursor:pointer;
    color: #fff;
    border: 1px solid red;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 1px;
    padding: 12px 5px;

}
.card-container .edit{
    height: 5px;
    margin-top: 10px;
    margin-left: 10px;
    cursor:pointer;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 1px;
    padding: 12px 5px;
    float: left;
}

