body {
    font-family: 'Merriweather', serif;
    font-family: 'Raleway', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul{
    list-style: none;
}
.footer{
    background-color: #F9EAC2;
    padding: 70px 0;

}
.footer-col{
    width: 25%; /*Hvor meget hver sektion fylder på siden*/
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #FFD898;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Merriweather', sans-serif;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 5px;
}

.footer-col em {
    font-family: 'Merriweather', sans-serif;
}

.footer-col .socialMedia a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #24262b;
    transition: all 0.5s ease;
}

.footer-col .socialMedia a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*
.fab {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 7px;
}

.fa-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 1.5vh;
}
 */

@media(max-width: 767px){ /*Resolution https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
