@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


h1{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Merriweather', serif;
}
button{
    font-family: 'Merriweather', serif;
}

.start{
    background: linear-gradient(143deg,#FFD898,#F9EAC2 85%);
    display: flex;
    align-items:flex-start;
    padding-left: 70px;
    padding-bottom: 30px;
}
.rightStart{
    margin-left: 350px;
}
.start h1{
padding-top: 80px;
color: black;
font-size: 55px;
margin: 20px 0;
}
.start p{
    color: rgb(46, 42, 42);
    font-size: 30px;
    margin: 15px 0;
}
.start button{
    padding: 20px 40px;
    margin: 15px 0;
    font-size: 25px;
}



.secondContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
   
    
}
.secondContainer1, .secondContainer2, .secondContainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondContainer1 h1, .secondContainer2 h1, .secondContainer3 h1{
    color: #363636;
    font-size: 35px;
    font-weight: 600;

}
.secondContainer1 p, .secondContainer2 p, .secondContainer3 p{
    color: #363636;
    font-size: 20px;
    font-weight: 400;

}
.secondContainer1 i, .secondContainer2 i, .secondContainer3 i{
    margin-bottom:  20px;

}


.factContainer{
    margin-top: 120px;
    padding-top: 30px;
    background-color: #FFD898;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: 300px;
}
.factContainer h1{
    color: #363636;
    font-size: 47px;
}
.factContainer p{
    color: #363636;
    font-size: 25px;
}
.factContainer button{
    padding: 10px 25px 10px 25px;
}







.navbar{

    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.right-navbar{
    margin-top: 0.5rem;
    margin-right: 30px;
}
.ul-navbar li a{
    
    display: block;
    padding: 0 25px;
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.5s;

}
.ul-navbar li a:hover {
    color: #FFD898;
    border-bottom-style: double;
    padding-bottom: 4px;
}



.ul-navbar{
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    

}

.left-navbar{
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText h1 {
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}
.logoText h1 span {
    font-weight: 900;

}
.logoText{
    margin-left: 10px
}







.downloadContainer{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    
    
}
.downloadText p{
    font-size: 22px;
}

.downloadText{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.downloadText h1{
    font-weight: 900;
    font-size: 40px;
    padding: 50px 0;
    margin-bottom: 30px;

}
#download{
    width: 380px;
}

button a{
    text-decoration: none;
    color: black
}